<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandiyago Yacht</title>
    <link rel="stylesheet" href="/static/css/footer.min.css">
</head>
<body>
    <footer id="footer" class="main-container">
        <article class="footer-container">
            <aside class="f-sec1">
                <a href="{% url 'home' %}">
                    <img class="f-logo" src="/static/images/logo/Copy of YatchLogo (1) 1.svg" alt="">
                </a>
            </aside>
            <aside class="f-sec2">
                <h1 class="f-heading">Home</h1>
                <a class="f-link" href="{% url 'home' %}#ourfleet">Our Fleet</a>
                <a class="f-link" href="{% url 'home' %}#ourservices">Our Services</a>
                <a class="f-link" href="{% url 'aboutus' %}">About us</a>
                <a class="f-link" href="{% url 'contactus' %}">Contact us</a>
            </aside>
            <aside class="f-sec3">
                <h1 class="f-heading">Contacts</h1>
                <!-- <p class="f-link" >+971568787909</p> -->
                <a href="tel:+971526094947" target="_blank">
                    <p class="f-link">+971526094947</p>
                </a>
                <div class="f-map">
                    <div>
                        <a href="https://wa.me/+971526094947" target="_blank">
                            <img src="/static/images/icon/Whatsapp.svg" alt="">
                        </a>
                    </div>
                    <a href="https://wa.me/+971526094947" target="_blank">
                        <p class="f-link">+971526094947</p>
                    </a>
                </div>
                <div class="f-map">
                    <div>
                        <a target="_blank" href="https://www.google.com/maps/place/Spinneys/@25.0860783,55.145691,17z/data=!4m6!3m5!1s0x3e5f6b50a63fff37:0x13858df0672b31ee!8m2!3d25.0860783!4d55.1482659!16s%2Fg%2F1trrbnx9?entry=ttu">
                            <img src="/static/images/icon/map.svg" alt="">
                        </a>
                    </div>
                    <a target="_blank" href="https://www.google.com/maps/place/Spinneys/@25.0860783,55.145691,17z/data=!4m6!3m5!1s0x3e5f6b50a63fff37:0x13858df0672b31ee!8m2!3d25.0860783!4d55.1482659!16s%2Fg%2F1trrbnx9?entry=ttu">
                        <p class="f-link">Dubai Marina, Marina Park  spinneys round port, U gate </p>
                    </a>
                </div>
            </aside>
            <aside class="f-sec4">
                <h1 class="f-heading">Social Media</h1>
                <div class="social-1">
                    <div>
                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100089786632481&mibextid=LQQJ4d">
                            <img src="/static/images/icon/Facebook.svg" alt="">                        
                        </a>
                    </div>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100089786632481&mibextid=LQQJ4d">
                        <p class="f-link">Sandiyago Yachts</p>
                    </a>
                </div>
                <div class="social-1">
                    <div>
                        <a target="_blank" href="https://instagram.com/yachtssandiyago?igshid=OGQ5ZDc2ODk2ZA==">
                            <img src="/static/images/icon/Instagram-black.svg" alt="">
                        </a>
                    </div>
                    <a target="_blank" href="https://instagram.com/yachtssandiyago?igshid=OGQ5ZDc2ODk2ZA==">
                        <p class="f-link">yachtssandiyago</p>
                    </a>
                </div>
            </aside>
        </article>
        <article class="copyright">
            <hr>
            <p class="copy-para">Copyright © Sandiyago Yacht. All rights reserved.</p>
        </article>
    </footer>

</body>
</html>