<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandiyago Yacht</title>
    <link rel="stylesheet" href="/static/css/aboutus.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>

    {% include 'base/header.html' %}

    <section id="aboutus1" class="main-container">
        <article class="aboutus-container">
            <aside class="about-top">
                <h1 class="heading" >About Us</h1>
            </aside>
            <aside class="about-bottom">
                <p class="para">Sandiyago Yachts is a distinguished name in the luxury yacht charter industry, offering unparalleled experiences on the water. With a legacy built on excellence, we pride ourselves on delivering exceptional service and meticulously crafted yachts that redefine luxury. Our dedicated team is committed to providing personalized attention and creating unforgettable moments for our clients. From opulent interiors to cutting-edge amenities, our yachts offer the perfect blend of comfort and sophistication. With a focus on environmental stewardship, we strive to minimize our impact on the marine ecosystem. Choose Sandiyago Yachts for an extraordinary journey where luxury, service, and unforgettable memories converge.</p>
            </aside>
        </article>
    </section>

    <section id="aboutus2" class="main-container" data-aos="fade-up">
        <article class="aboutus2-container">
            <aside class="about2-top">
                <h1 class="heading" >Our Mission</h1>
            </aside>
            <aside class="about2-bottom">
                <div class="ab-left">
                    <p class="para">At Sandiyago Yachts, our mission is to create exceptional and unforgettable yacht experiences for our clients. We are dedicated to providing the highest level of service, ensuring that every aspect of our clients' journeys is seamless and exceeds their expectations. Our mission also encompasses crafting luxurious and meticulously designed yachts that offer unparalleled comfort and style. We strive to understand and cater to the unique preferences and desires of each client, creating personalized itineraries and delivering unforgettable moments on the water. Furthermore, we are committed to environmental sustainability, actively promoting responsible practices to preserve the beauty of the oceans for future generations. Through our mission, we aim to be the epitome of luxury yacht charters, providing extraordinary experiences that leave a lasting impression.</p>
                </div>
                <div class="ab-right">
                    <div class="ab-img">
                        <a href="#">
                            <img src="/static/images/picture/Frame 34504.svg" alt="">
                        </a>
                    </div>
                </div>
                
            </aside>
        </article>
    </section>

    <section id="aboutus3" class="main-container" data-aos="fade-up">
        <article class="aboutus3-container">
            <aside class="about3-top">
                <h1 class="heading" >Our Vision</h1>
            </aside>
            <aside class="about3-bottom">
                <div class="ab-left">
                    <p class="para">Sandiyago Yachts envisions being the ultimate symbol of luxury yacht charters, renowned for unmatched quality and exquisite experiences. Our vision is to provide personalized service, crafting yachts of exceptional craftsmanship and luxury that cater to individual preferences. We are committed to environmental responsibility, integrating eco-friendly practices to protect the marine ecosystem. Embracing innovation and evolution, we strive to exceed expectations by incorporating the latest trends. Our ultimate goal is to establish ourselves as the leading luxury yacht charter company, synonymous with opulence, exceptional service, and unforgettable journeys.</p>
                </div>
                <div class="ab-right">
                    <div class="ab-img">
                        <a href="#">
                            <img src="/static/images/picture/freepik--background-complete--inject-2.svg" alt="">
                        </a>
                    </div>
                </div>
                
            </aside>
        </article>
    </section>

    
    <section id="aboutus4" class="main-container" data-aos="fade-up">
        <article class="aboutus4-container">
            <aside class="sec4-left">
                <h1 class="c-heading">Brands who we are partner with</h1>
                <p class="c-para">At Sandiyago Yachts, we proudly partner with renowned brands that share our commitment to excellence and luxury. Collaborating with prestigious names in the industry such as Banetti, Amer Yachts, and Arcon Yachts, we ensure that our clients experience the finest quality, craftsmanship, and innovation during their yacht journeys. Together with our esteemed partners, we aim to deliver unparalleled luxury and create unforgettable moments on the water.</p>
            </aside>
            <aside class="sec4-right">
                <div class="sec4-logo1">
                    <div>
                        <a href="#">
                            <img src="/static/images/logo/Baneti_Logo_Web21-300x133 1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="/static/images/logo/alpha+logo+png 1.png" alt="">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="/static/images/logo/image 1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="sec4-logo1">
                    <div>
                        <a href="#">
                            <img src="/static/images/logo/logo 1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="/static/images/logo/image 2.png" alt="">
                        </a>
                    </div>
                    
                </div>
            </aside>
        </article>
    </section>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        duration: 1500, 
        easing: 'ease-in-out', 
      });
    </script>

    {% include 'base/footer.html' %}

</body>
</html>