$white:white;

$heading-color:#333333;
$btn:#4762FF;








// ==================header===================

$header-nav:1rem;

// ================End header=================

// ==============Footer===============

$footer-bg:#1A1A1A;
$footer-link:1rem;
$footer-link-mob:.8125rem;
$footer-link-tab:.8125rem;
$footer-heading:1.5rem;
$footer-heading-tab:1.3rem;
$footer-heading-mob:1.1rem;

// ====================================


// ==============index=================
// =============section2===============

$sec2-para-color:rgba(51, 51, 51, 0.8);
$sec2-heading-font:2.5rem;
$sec2-heading-font-tab:2rem;
$sec2-heading-font-mob:1.5rem;
$sec2-heading2-font:1.5rem;
$sec2-heading2-font-tab:1.1rem;
$sec2-heading2-font-mob:1rem;
$sec2-para2-font:1rem;
$sec2-para2-font-mob:.8125rem;
$sec2-para-font:1.125rem;
$sec2-para-font-tab:1rem;
$sec2-para-font-mob:.8125rem;

// ====================================


// ===========section4==================

$sec4-bg: #F4F4F4;

$sec4-heading:3rem;
$sec4-heading-tab:2.5rem;
$sec4-heading-mob:2rem;
$sec4-para-color:rgba(51, 51, 51, 0.8);
$sec4-para-font:1.125rem;
$sec4-para-font-tab:1rem;
$sec4-para-font-mob:.8125rem;

// =====================================

// ============section6=================


// =====================================

// ============section7=================

$sec7-heading:3.5rem;
$sec7-heading-tab:2.5rem;
$sec7-heading-mob:2rem;
$sec7-heading-mob-two:1.5rem;
$sec7-font-para:1.125rem;
$sec7-font-para-tab:1rem;
$sec7-font-para-mob:.8125rem;
$sec7-input-bg:rgba(71, 98, 255, 0.08);

// =====================================

// =================aboutus=============



// =====================================

// ===============contactus============

$contactus-heading-blue:#004681;
$contactus-heading-blue-font: 1.5rem;
$contactus-heading-blue-font-tab: 2rem;

// ====================================